@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --blue: #3360c5;
  --pink: #c018ce;
  --black: #080808;
  --grey: #0a0c10;
  --white: #fdfdfd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html,
body {
  max-width: 100vw;
  background-color: var(--black);
  color: white;
  word-wrap: break-word;
  overflow-y: auto;
}
body {
  overflow-x: visible;
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  body {
    overflow: auto;
    overflow: initial;
  }
}

::-webkit-scrollbar {
  width: 10px;
  z-index: -100;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------
---------------------------------------- NAVIGATION BAR -------------------------------------*/

.Hnavigation-bar {
  height: 12vh;
  background-color: var(--black);
  color: white;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  width: 100vw;
  box-shadow: #335fc533 0px 20px 30px -10px;
}
@media screen and (max-width: 630px) {
  .Hnavigation-bar {
    height: 20vh;
  }
}
.Hnavigation-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 400;
  background-color: inherit;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Hnavigation-bar ul li {
  font-size: calc(9px + 0.4vw);
  color: #80807f;
  text-transform: uppercase;
  margin-right: 30px;
}

.Hnavigation-bar ul li:hover {
  color: #4d4d4d;
}
.loggedin-li:hover {
  color: var(--pink);
}

.Hnavigation-bar ul li:nth-child(1) {
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 8px;
  height: 93%;
}

.Hnavigation-bar ul li:nth-child(2) {
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .Hnavigation-bar ul li:nth-child(2) {
    margin-left: 10vw;
  }
}

.navigation-button {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-block: 10px;
}

@keyframes buttongradient {
  0% {
    background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
      linear-gradient(to bottom, var(--blue), var(--pink)) border-box;
  }

  40% {
    background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
      linear-gradient(to bottom, #783dca, #b31ecd) border-box;
  }

  50% {
    background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
      linear-gradient(to bottom, #9130cb, #9130cb) border-box;
  }

  75% {
    background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
      linear-gradient(to bottom, #b31ecd, #783dca) border-box;
  }

  100% {
    background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
      linear-gradient(to bottom, var(--pink), var(--blue)) border-box;
  }
}

.navigation-button button {
  max-width: 180px;
  padding: 40px;
  padding-block: 10px;
  font-family: Verdana;
  font-size: 15px;
  letter-spacing: 0em;
  color: white;
  border: 2.5px solid transparent;
  border-radius: 8px;
  animation: buttongradient 5s linear 0s infinite alternate;
  -webkit-animation: buttongradient 5s linear 0s infinite alternate;
}
@media screen and (max-width: 640px) {
  .socialmedia-links {
    display: none;
  }
}

/*---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------
---------------------------------------- FOOTER BAR -------------------------------------*/

.footer-bar {
  height: 108px;
  background-color: var(--black);
  color: white;
}
.footer-bar * {
  overflow: visible;
}

.footer-bar ul {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.footer-bar ul li {
  font-size: calc(9px + 0.4vw);
  color: #6681b9;
  margin-right: 6vw;
}

.footer-bar ul li:nth-child(1) {
  border-radius: 10px;
  margin-left: 5vw;
  margin-top: 14px;
}

.footer-bar ul li:nth-child(1) .logo {
  width: 80px;
}

.footer-bar ul li:nth-child(2) {
  margin-left: auto;
}

.footer-bar ul li:nth-child(4) {
  margin-right: 9vw;
}

.footer-bar ul li:nth-last-child(-n + 4) {
  margin-right: 3vw;
}

.footer-bar ul li:last-child {
  margin-right: 7vw;
}

.footer-bar ul li:hover {
  color: #8aa1cd;
}

/*----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES----------------------------------------
----------------------------------------AUTH STYLES---------------------------------------- */

.signup-main,
.login-main,
.fpass-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 30px;
  margin: 10vh;
  z-index: 10;
  overflow: visible;
}

.signup-heading,
.login-heading,
.fpass-main {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2rem;
  color: var(--black);
  background: linear-gradient(179.89deg, #ffefef 0.09%, #4b4a4a 141.99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 7px transparent;
}

.signup-box,
.login-box,
.fpass-box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 0.4px;
  padding: 30px 40px 10px 40px;
  background: linear-gradient(0deg, #0a0d0f, #0a0d0f),
    linear-gradient(0deg, #80807f, #80807f);
  border: 0.4px solid #80807f;
  position: relative;
  overflow: visible;
}

.signup-box form,
.login-box form,
.fpass-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input,
.login-input,
.fpass-input {
  width: 40vw;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black);
  color: #80807f;
  padding: 0 30px;
  margin: 10px 5px;
  border: 0px var(--black) solid;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.signup-button,
.login-button,
.fpass-button {
  color: var(--white);
  background-color: var(--black);
  padding: 5px 30px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  max-width: fit-content;
  border-radius: 6px;
  background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
    linear-gradient(to bottom, var(--blue), var(--pink)) border-box;
  border: 2.5px solid transparent;
  margin-block: 30px;
}

.signup-button,
.login-button {
  margin-bottom: 10px;
}

.rafiki {
  position: absolute;
  bottom: -100px;
  right: -200px;
  opacity: 50%;
  z-index: 0;
}

.figmaimg {
  position: absolute;
  bottom: -50px;
  left: -50px;
}

.login-forgot-password-link {
  align-self: flex-start;
  margin-left: 15px;
  color: var(--blue);
  opacity: 0.8;
}

.login-forgot-password-link:hover {
  text-decoration: none;
  color: var(--blue);
  opacity: 0.7;
}

.login-span {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------
----------------------------------------Upload Post Styles----------------------------------------*/
.upload-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 12vh;
}

input[type="file"] {
  display: none;
}

.uploadimg-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  max-width: 800px;
  width: 50vw;
  padding: 20px;
  border-radius: 10px;
  background-color: #0d1215;
  background-image: linear-gradient(to right, #80807f 50%, transparent 50%),
    linear-gradient(to right, #80807f 50%, transparent 50%),
    linear-gradient(to bottom, #80807f 50%, transparent 50%),
    linear-gradient(to bottom, #80807f 50%, transparent 50%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 20px 2px, 20px 2px, 2px 20px, 2px 20px;
}

.post-box {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, #0a0d0f, #0a0d0f),
    linear-gradient(0deg, #000000, #000000);
  border-radius: 10px;
}

.uploadimg--heading,
.post-heading {
  color: #80807f;
  font-size: calc(20px + 1.5vw);
  padding: 10px;
  margin: 25px;
}

.post-heading {
  font-size: calc(15px + 1.5vw);
  padding: 50px;
  padding-block: 5px;
  border-bottom: 0.6px solid #6681b9;
}

.upload-button {
  width: 90%;
  margin: 10px;
  border: 0.1px solid #80807f70;
  border-radius: 4px;
  padding: 12px;
  background: linear-gradient(0deg, #0a0d0f, #0a0d0f);
  font-family: Verdana;
  font-size: calc(10px + 1vw);
  text-align: center;
  overflow: hidden;
  color: #80807f;
}

.upload-button:hover {
  background: linear-gradient(0deg, #0a0d0f, #0a0d0f),
    linear-gradient(0deg, #80807f, #80807f);
}

.post-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3vh 3vw 3vh 3vw;
}
.post-main div {
  padding: 50px;
}
.post-main-typed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
}

.caption-input {
  width: 25vw;
  height: 50px;
  color: var(--white);
  background-color: inherit;
  border-radius: 5px;
  font-size: 20px;
  border: 0.5px rgba(49, 49, 49, 0.699) solid;
  min-width: 25vw;
  min-height: 13vh;
  padding: 10px;
}

.caption-input:focus {
  outline: none;
}
.tools-heading {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #80807f;
  margin-top: 10px;
}
.tools-list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  width: 350px;
  max-width: 500px;
  flex-wrap: wrap;
  margin: -30px -20px;
}
.tools-list-image {
  width: 60px;
  height: 60px;
  margin: 0;
}
.tools-list div {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.tools-list div * {
  overflow: visible;
}
.tools-list-input {
  height: 0;
  width: 0;
  opacity: 0;
}
.tools-list-label {
  display: inline-block;
  border-radius: 10px;
  padding: 0px;
  margin: 5px;
  opacity: 0.5;
}
.tools-list-input:checked + .tools-list-label {
  opacity: 1;
}
.submit-button {
  color: var(--white);
  background-color: var(--black);
  padding: 5px 50px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: left;
  max-width: fit-content;
  border-radius: 11.2px;
  margin-block: 20px;
  background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
    linear-gradient(to bottom, var(--blue), var(--pink)) border-box;
  border: 2.5px solid transparent;
}

.post-button {
  margin-bottom: 70px;
}

.submit-button:hover {
  background: linear-gradient(#0f151b, #121b23) padding-box,
    linear-gradient(to bottom, var(--pink), var(--blue)) border-box;
}

/* ----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------
----------------------------------------HOME PAGE----------------------------------------*/

.home-buttons {
  max-width: 400px;
  padding: 30px 40px;
  margin-top: 5vh;
  font-family: Verdana;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0em;
  color: white;
  border: 2.5px solid transparent;
  border-radius: 15px;
  letter-spacing: 2px;
  background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
    linear-gradient(to bottom, var(--blue), var(--pink)) border-box;
}
.pane-1 {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: visible;
  background-color: #0a0d0f;
  z-index: 3;
}
.pane-1-scroller {
  display: flex;
  height: 45vh;
  width: 90vw;
  overflow-x: visible;
  overflow-y: hidden;
}
.pane-1-scroller::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.pane-1-scroller::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.pane-1-scroller::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}

/* Handle on hover */
.pane-1-scroller::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
.pane-1-scroller-item {
  margin: auto 2%;
  width: 50%;
  flex: none;
}

.pane-1-cuboid {
  position: absolute;
  left: 0;
  bottom: -200px;
}
.pane-1-3dicons {
  position: absolute;
  right: 10px;
  bottom: -50px;
}

/* color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 */

.pane-2 {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #0a0d0f;
}
.pane-2 * {
  overflow: visible;
}
.pane-2-text-main {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  font-family: Verdana;
  font-size: 70px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
}
.pane-2-text-main {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  font-family: Verdana;
  font-size: 70px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 55vw;
}
.pane-2-text-sub {
  color: white;
  font-family: Verdana;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
}
.pane-two-gradient {
  position: absolute;
  top: -600px;
  left: 0;
  width: 100vw;
}
.pane-two-graphic {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.pane-two-eclipse {
  position: absolute;
  bottom: -50px;
  right: 0px;
}

.pane-3 {
  background-color: #080808;
  min-width: 100vw;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.pane-3 * {
  overflow: visible;
}
.pane-3-text-main {
  color: white;
  font-family: Verdana;
  font-size: 70px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
}
.pane-3-text-sub {
  color: #80807f;
  font-family: Verdana;
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  margin-top: 5%;
  font-family: Verdana;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
}
.pane-3-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.pane-3-table-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: 40px;
}
.pane-3-table-row div {
  border: 10px solid #929292;
  border-radius: 20%;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  background-color: #0a0d0f;
}
.pane-3-graphics {
  margin: 50px;
  width: 130px;
}
.pane-3-graphics-x {
  margin: 25px;
  width: 180px;
}
.pane-3-table-row span {
  width: 350px;
  margin-left: 70px;
  font-family: Verdana;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

.pane-4 {
  margin-top: 1vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 5vh 10vw; */
}
.pane-4-text {
  font-family: Verdana;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.015em;
  text-align: center;
}
.pane-4-image {
  border: 2.5px solid transparent;
  border-radius: 20px;
  padding: 0px 10vw;
  background: linear-gradient(#0a0d0f, #0a0d0f) padding-box,
    linear-gradient(to bottom, var(--blue), var(--pink)) border-box;
}

.pane-5 {
  margin-top: 1vh;
  min-width: 100vw;
  min-height: 75vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 20vw;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
}
.pane-5-background {
  position: absolute;
}
@media screen and (max-width: 700px) {
  .pane-5-background {
    display: none;
  }
  .pane-5 {
    flex-wrap: wrap;
  }
}
.pane-5-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 400px;
  margin-block: 100px;
  flex: none;
}
.pane-5-item img {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 350px;
}
.pane-6 {
  position: relative;
  min-width: 100vw;
  height: 1500px;
  overflow: visible;
}
.pane-6 * {
  overflow: visible;
}
@media screen and (max-width: 480px) {
  .pane-6 {
    display: none;
  }
}
.pane-6 * {
  overflow: visible;
}
.pane-6-inner-circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: rotator 10s linear infinite;
}
.pane-6-middle-circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  scale: 1.05;
  animation: rotator 15s linear infinite;
}
.pane-6-outer-circle {
  position: absolute;
  left: 0;
  right: 0px;
  top: 0px;
  bottom: 0;
  margin: auto;
  scale: 1.06;
  animation: rotator 60s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pane-6-paragraph {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  display: block;
}
.pane-6-paragraph p {
  display: inline-block;
}

/* ----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------
----------------------------------------DISCOVER PAGE----------------------------------------*/

.discover-nav-bar {
  position: fixed;
  top: 12vh;
}
@media screen and (max-width: 630px) {
  .discover-nav-bar {
    top: 20vh;
  }
}
.discover-nav-bar-text {
  font-family: Verdana;
  font-size: calc(1px+10vw);
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  width: 100vw;
  padding: 5px;
  background-color: var(--pink);
  display: inline-block;
  margin: 0;
}
.discover-active-post {
  position: relative;
  top: -5px;
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
}
.discover-active-post-hidden {
  display: none;
}
.discover-active-post-image {
  width: 30vw;
  max-height: 80vh;
}
.discover-active-post-info {
  margin-left: 4vw;
}
.discover-active-post-info-username {
  color: #80807f;
  font-family: Verdana;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.star-rating {
  margin-top: 10px;
  display: flex;
}
.thumbs-up,
.thumbs-down {
  height: 40px;
  margin-top: 20px;
}
.thumbs-ub:hover {
  opacity: 0.7;
}
.discover-active-post-info-caption {
  padding-top: 10px;
  color: #c5c5c5;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  max-width: 300px;
}

.discover-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12vw 10px;
}
.discover-list * {
  overflow: visible;
}
.discover-list-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  justify-content: center;
  padding: 0px;
}
.discover-list-column-item {
  max-width: 22vw;
  min-width: 20vw;
  max-height: 100vh;
  flex-shrink: 0;
  margin-block: 12.5px;
}
@media screen and (max-width: 1250px) {
  .discover-list-column-item {
    max-width: 40vw;
    width: 40vw;
    flex-shrink: 0;
    margin-block: 12.5px;
  }
}
@media screen and (max-width: 850px) {
  .discover-list-column-item {
    max-width: 80vw;
    width: 80vw;
    margin-block: 20px;
  }
}
